.body {
  background-image: linear-gradient(
    to bottom right,
    #1f005c,
    #5b0060,
    #870160,
    #ac255e,
    #ca485c,
    #e16b5c,
    #f39060,
    #ffb56b
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text);
  height: 100vh;
}
